//Roboto Condensed:
$RobotoCondensed-REGULAR: "RobotoCondensed-Regular";
$RobotoCondensed-BOLD: "RobotoCondensed-Bold";
$RobotoCondensed-BOLD-ITALIC: "RobotoCondensed-BoldItalic";
$RobotoCondensed-ITALIC: "RobotoCondensed-Italic";
$RobotoCondensed-LIGHT: "RobotoCondensed-Light";
$RobotoCondensed-LIGHT-ITALIC: "RobotoCondensed-LightItalic";
//GMV_DIN_PRO:
$GMV_DIN_Pro-Black_Italic: "GMV_DIN_Pro-Black_Italic";
$GMV_DIN_Pro-Black: "GMV_DIN_Pro-Black";
$GMV_DIN_Pro-Bold_Italic: "GMV_DIN_Pro-Bold_Italic";
$GMV_DIN_Pro-Bold: "GMV_DIN_Pro-Bold";
$GMV_DIN_Pro-Cond_Black_Italic: "GMV_DIN_Pro-Cond_Black_Italic";
$GMV_DIN_Pro-Cond_Black: "GMV_DIN_Pro-Cond_Black";
$GMV_DIN_Pro-Cond_Bold_Italic: "GMV_DIN_Pro-Cond_Bold_Italic";
$GMV_DIN_Pro-Cond_Italic: "GMV_DIN_Pro-Cond_Italic";
$GMV_DIN_Pro-Extlight_Italic: "GMV_DIN_Pro-Extlight_Italic";
$GMV_DIN_Pro-Extlight: "GMV_DIN_Pro-Extlight";
$GMV_DIN_Pro-Italic: "GMV_DIN_Pro-Italic";
$GMV_DIN_Pro-Light_Italic: "GMV_DIN_Pro-Light_Italic";
$GMV_DIN_Pro-Light: "GMV_DIN_Pro-Light";
$GMV_DIN_Pro-Medium_Italic: "GMV_DIN_Pro-Medium_Italic";
$GMV_DIN_Pro-Medium: "GMV_DIN_Pro-Medium";
$GMV_DIN_Pro-Thin_Italic: "GMV_DIN_Pro-Thin_Italic";
$GMV_DIN_Pro-Thin:"GMV_DIN_Pro-Thin";
$GMV_DIN_Pro: "GMV_DIN_Pro";
// $primary_color: var(--color-1st);
// $primary_color_text: var(--color-text);

$primary_color:#f38b00;
$primary_color-text-menu:#fff;
//text
$primary_color_text_title: #fa8f00;
$primary_color_text_content: #c4c9cf;
