$RobotoCondensed-REGULAR: "RobotoCondensed-Regular";

$RobotoCondensed-BOLD: "RobotoCondensed-Bold";
$RobotoCondensed-BOLD-ITALIC: "RobotoCondensed-BoldItalic";
$RobotoCondensed-ITALIC: "RobotoCondensed-Italic";
//LIGHT
$RobotoCondensed-LIGHT: "RobotoCondensed-Light";
$RobotoCondensed-LIGHT-ITALIC: "RobotoCondensed-LightItalic";

// $primary_color: var(--color-1st);
// $primary_color_text: var(--color-text);

$primary_color:#f38b00;
$primary_color-text-menu:#fff;
//text
$primary_color_text_title: #fa8f00;
$primary_color_text_content: #c4c9cf;
